.goTopHidden {
  transition: 0.4s;
  display: none;
}

.goTop {
  display: block;
  position: fixed;
  background-color: rgba(226, 224, 224, 0.3);
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  bottom: 5%;
  left: 94%;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.goTop:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.goTop>span>span {

  color: black;
  font-weight: 800;
  font-size: 15px !important;
}

@media (max-width: 380px) {
  .goTop {
    background-color: rgba(226, 224, 224, 0.3);
    left: 80% !important;
  }
}